@import play.api.Environment
@import b3.inline.fieldConstructor
@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@import com.nappin.play.recaptcha.WidgetHelper
@import utils.AppMode

@(ticket: Ticket)(
        implicit request: Request[AnyContent],
        messages: Messages,
        webJarAssets: WebJarAssets,
        environment: Environment,
        widgetHelper: WidgetHelper,
        appMode: AppMode
)

@main(Messages("ticket.tagline")) {

  <legend>@Messages("ticket.tagline")</legend>

  <strong>Title</strong> @ticket.title.getOrElse("Title")<br>
  <strong>Description</strong> @ticket.description.getOrElse("Description")<br>
  <strong>Submitted By</strong> @ticket.reporter.getOrElse("Reporter") (@ticket.reporterName.getOrElse("Reporter Name"))<br>
  <strong>Created at </strong> @ticket.createdAt.toString<br>

}
