@import play.api.Environment
@import b3.inline.fieldConstructor
@import utils.AppMode

@(ticket: Ticket)(
        implicit request: Request[AnyContent],
        messages: Messages,
        webJarAssets: WebJarAssets,
        environment: Environment,
        appMode: AppMode
)

@main(Messages("ticket.tagline")) {

  <legend>@Messages("ticket.tagline")</legend>

  <strong>ID</strong> @ticket.id.getOrElse("0")<br>
  <strong>Title</strong> @ticket.title.getOrElse("Title")<br>
  <strong>Description</strong> @ticket.description.getOrElse("Description")<br>
  <strong>Submitted By</strong> @ticket.reporter.getOrElse("Reporter") (@ticket.reporterName.getOrElse("Reporter Name"))<br>
  <strong>Assigned To</strong> @ticket.assignedTo.getOrElse("<NONE>") (@ticket.assignedToName.getOrElse("<NONE>"))<br>
  <strong>Created at </strong> @ticket.createdAt.toString<br>

}
