logs
project/project
project/target
client/target
server/target
server/logs
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin
.directory
*#
*.iml
*.ipr
*.iws
*.pyc
*.tm.epoch
*.vim
*-shim.sbt
.idea/
project/plugins/project
project/boot
.cache
.directory
.classpath
.project
.settings
logs
target
/project/target
.idea_modules
RUNNING_PID
project/project/
